<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card color="secondary" class="ion-padding">
          <ion-card-header class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="5.5">
                  <div [chart]="salesPerDay.chart"></div>
                  <h1 class="chart-percentage"><ion-text><strong>{{salesPerDay.percentage | number: '1.0-0'}}%</strong></ion-text></h1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col size="12">
                      <h1 class="ion-float-right"><ion-text color="primary"><strong>{{salesPerDay.value}}</strong></ion-text></h1>
                    </ion-col>
                    <ion-col size="12">
                      <ion-text class="ion-float-right"><strong>{{'Ventas de hoy'}}</strong></ion-text>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card color="secondary" class="ion-padding">
          <ion-card-header class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="5.5">
                  <div [chart]="totalSales.chart"></div>
                  <h1 class="chart-percentage"><ion-text><strong>{{totalSales.percentage | number: '1.0-0'}}%</strong></ion-text></h1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col size="12">
                      <h1 class="ion-float-right"><ion-text color="success"><strong>{{totalSales.value}}</strong></ion-text></h1>
                    </ion-col>
                    <ion-col size="12">
                      <ion-text class="ion-float-right"><strong>{{'Ventas de hoy'}}</strong></ion-text>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card color="secondary" class="ion-padding">
          <ion-card-header class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="5.5">
                  <div [chart]="newUsers.chart"></div>
                  <h1 class="chart-percentage"><ion-text><strong>{{newUsers.percentage | number: '1.0-0'}}%</strong></ion-text></h1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col size="12">
                      <h1 class="ion-float-right"><ion-text class="fuchsia-value"><strong>{{newUsers.value}}</strong></ion-text></h1>
                    </ion-col>
                    <ion-col size="12">
                      <ion-text class="ion-float-right"><strong>{{'Ventas de hoy'}}</strong></ion-text>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card color="secondary" class="ion-padding">
          <ion-card-header class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="5.5">
                  <div [chart]="newProviders.chart"></div>
                  <h1 class="chart-percentage"><ion-text><strong>{{newProviders.percentage | number: '1.0-0'}}%</strong></ion-text></h1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col size="12">
                      <h1 class="ion-float-right"><ion-text color="warning"><strong>{{newProviders.value}}</strong></ion-text></h1>
                    </ion-col>
                    <ion-col size="12">
                      <ion-text class="ion-float-right"><strong>{{'Ventas de hoy'}}</strong></ion-text>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="8">
        <ion-row>
          <ion-card color="secondary" class="card-with-100">
            <ion-card-header>
              <ion-text color="light"><strong>{{'Comunas más activas' | uppercase}}</strong></ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-progress-bar *ngIf="loadingMostActiveDistricts" type="indeterminate"></ion-progress-bar>
              <div [chart]="mostActiveDistricts.chart"></div>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card color="secondary" class="card-with-100">
            <ion-card-header>
              <ion-text color="light"><strong>{{'Últimos servicios solicitados' | uppercase}}</strong></ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-progress-bar *ngIf="loadingServices" type="indeterminate"></ion-progress-bar>
              <table class="categories-tb" *ngIf="!loadingServices">
                <thead>
                  <tr>
                    <td *ngFor="let column of lastServicesTable.columns"><strong><ion-text color="light">{{ column.name }}</ion-text></strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lastServicesTable.rows.slice(0, 5)"> <!-- el slice limita la cantidad a mostrar -->
                    <td>{{ row['Servicio'] }}</td>
                    <td>{{ row['Categoría'] }}</td>
                    <td>{{ row['Supercategoría'] }}</td>
                    <td>{{ row['Proveedor'] }}</td>
                    <td>{{ row['Cliente'] }}</td>
                    <td>
                      <ion-button class="state" *ngIf="row['Estado'].toLowerCase() === 'terminado'" color="success">{{ row['Estado'] }}</ion-button>
                      <ion-button class="state" *ngIf="row['Estado'].toLowerCase() === 'cancelado'" color="danger">{{ row['Estado'] }}</ion-button>
                      <ion-button class="state" *ngIf="row['Estado'].toLowerCase() === 'agendado'" color="primary">{{ row['Estado'] }}</ion-button>
                    </td>
                    <td>{{ row['Fecha'] | date:'shortDate' }}</td>
                  </tr>
                </tbody>
              </table>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-card color="secondary">
            <ion-card-header>
              <ion-text color="light"><strong>{{'Mejores Evaluados' | uppercase}}</strong></ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-list class="ion-no-padding" *ngFor="let provider of [1,2,3,4,5]">
                <ion-item button class="ion-no-padding" color="secondary">
                  <ion-avatar slot="start">
                    <ion-img src="http://www.loremflickr.com/400/400/selfie"></ion-img>
                  </ion-avatar>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-text>Juenito Pérez</ion-text>
                      </ion-col>
                      <ion-col size="12">
                        <ion-text>j.perez@example.com</ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card color="secondary">
            <ion-card-header>
              <ion-text color="light"><strong>{{'Más solicitados' | uppercase}}</strong></ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-list class="ion-no-padding" *ngFor="let provider of [1,2,3,4,5]">
                <ion-item button class="ion-no-padding" color="secondary">
                  <ion-thumbnail slot="start">
                    <ion-img src="http://www.loremflickr.com/400/400/medico"></ion-img>
                  </ion-thumbnail>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-text>Visita al Médico</ion-text>
                      </ion-col>
                      <ion-col size="12">
                        <ion-text>Servicio a Domicilio</ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
