<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-list class="ion-no-padding" lines="none">
              <ion-item class="ion-no-padding" color="secondary">
                <ion-text color="light">
                  <h1 class="ion-no-padding ion-no-margin">Servicios</h1>
                </ion-text>
                <ion-button (click)="presentModalNewService()" class="add-btn" slot="end" color="primary"><ion-icon name="add"></ion-icon></ion-button>
              </ion-item>
            </ion-list>
          </ion-card-header>
          <ion-card-content>
            <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
            <table *ngIf="!loading">
              <thead>
                <tr>
                  <td *ngFor="let column of table.columns"><strong><ion-text color="light">{{ column.name }}</ion-text></strong></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of table.rows">
                  <td>{{ row['Título'] }}</td>
                  <td>{{ row['Descripción'] }}</td>
                  <td>${{ row['Precio'] | number }}</td>
                  <td>{{ row['Esencial'] }}</td>
                  <td>{{ row['Categoría'] }}</td>
                  <td>{{ row['Supercategoría'] }}</td>
                </tr>
              </tbody>
            </table>
            <ion-title color="light" class="ion-no-padding">Total: {{ table.rows.length }}</ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
